@{
  Layout="Shared/_Layout.cshtml";
}
    <h1>Turtle Tippers</h1>
    <div class="row">
      <div class="col-sm-6">
        <h2 class="player-title">Player 1</h2>
        <div class="row">
          <div class="col-sm-4 turtles">
            @for(int i=0; i< @Model["player1"].Turtles; i++)
            {
              <img src="/../Content/img/turtle.png" alt="an image of a turtle"/>
            }
            @if (@Model["player1"].Turtles < 5)
            {
              @for(int i=0; i< 5-@Model["player1"].Turtles; i++)
              {
                <img src="/../Content/img/upside-down-turtle.png" alt="an image of a tipped turtle"/>
              }
            }
          </div>
          <div class="col-sm-8 inPlay" >
            @foreach(var deckCard in Model["p2InPlay"])
            {
              var card = deckCard.GetCard();
              <div class="cardDisplay pull-left">
                <div class="image-border">
                  <div class="cardImage">
                    <img src="@card.Image" alt="" />
                  </div>
                </div>  
                <div class="cardHP pull-right">
                  <p>@deckCard.HP</p>
                </div>
                <div class="cardAttack">
                  <p>@card.Attack</p>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h2 class="player-title">Player 2</h2>
        <div class="row">
            <div class="col-sm-8 inPlay">
              @foreach(var deckCard in Model["p2InPlay"])
              {
                var card = deckCard.GetCard();
                <div class="cardDisplay pull-right">
                  <div class="image-border">
                    <div class="cardImage">
                      <img src="@card.Image" alt="" />
                    </div>
                  </div>
                  <div class="cardHP pull-right">
                    <p>@deckCard.HP</p>
                  </div>
                  <div class="cardAttack">
                    <p>@card.Attack</p>
                  </div>
                </div>
              }
            </div>
            <div class="col-sm-4 turtles">
              @for(int i=0; i< @Model["player2"].Turtles; i++)
              {
                <img src="/../Content/img/turtle.png" alt="an image of a turtle"/>
              }
              @if (@Model["player2"].Turtles < 5)
              {
                @for(int i=0; i< 5-@Model["player2"].Turtles; i++)
                {
                  <img src="/../Content/img/upside-down-turtle.png" alt="an image of a tipped turtle"/>
                }
              }
            </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row" id="hand">
      <form action="" method="post">
        @foreach(var deckCard in Model["deck"])
        {
          @if(deckCard.InHand)
          {
            var card = deckCard.GetCard();
            <div class="col-sm-2">
              <div class="cardDisplay">
                <div class="image-border">
                  <div class="cardImage">
                    <img src="@card.Image" alt="" />
                  </div>
                </div>
                <div class="cardFlavor">
                  <br>
                  <p>@card.FlavorText</p>
                </div>
                <div class="cardHP pull-right">
                  <p>@card.Defense</p>
                </div>
                <div class="cardAttack">
                  <p>@card.Attack</p>
                </div>
              </div>
            </div>
          }
        }
        @* <div class="col-sm-2" id="hand2">
          <input id="card2" type="checkbox" name="card1" class="vis-hidden" value="Aliens" />
          <label for="card2"><img src="/../Content/img/bear_card.png" alt="bear card" /></label>
        </div>
        <div class="col-sm-2" id="hand3">
          <input id="card3" type="checkbox" name="card1" class="vis-hidden" value="Aliens" />
          <label for="card3"><img src="/../Content/img/bear_card.png" alt="bear card" /></label>
        </div>
        <div class="col-sm-2" id="hand4">
          <input id="card4" type="checkbox" name="card1" class="vis-hidden" value="Aliens" />
          <label for="card4"><img src="/../Content/img/bear_card.png" alt="bear card" /></label>
        </div>
        <div class="col-sm-2" id="hand5">
          <input id="card5" type="checkbox" name="card1" class="vis-hidden" value="Aliens" />
          <label for="card5"><img src="/../Content/img/bear_card.png" alt="bear card" /></label>
        </div>
        <button type="submit" class="btn btn-success">SUBMIT</button> *@
      </form>

    </div>
  </div>
</div>




    </div>
