@{
  Layout="Shared/_Layout.cshtml";
}
    <h1>Turtle Tippers</h1>
    <div class="row background">
      <div class="col-sm-6">
        <h2 class="player-title">Player <span class="player-number">1</span></h2>
        <div class="row">
          <div class="col-sm-4 turtles">
            @for(int i=0; i< @Model["player1"].Turtles; i++)
            {
              <img src="/../Content/img/turtle.png" alt="an image of a turtle"/>
            }
            @if (@Model["player1"].Turtles < 5)
            {
              @for(int i=0; i< 5-@Model["player1"].Turtles; i++)
              {
                <img src="/../Content/img/upside-down-turtle.png" alt="an image of a tipped turtle"/>
              }
            }
          </div>
          <div class="col-sm-8 inPlay" >
            <form action="/combat" method="post">

            @foreach(var deckCard in Model["p1InPlay"])
            {
              var card = deckCard.GetCard();
              <label>
              @if(Model["turnPhase"] == "combat")
              {
                <input type="radio" name="p1-combat-card" value="@deckCard.Id" class="combatCard" required>
              }
              <div class="cardDisplay pull-left">
                <div class="image-border">
                  <div class="cardImage">
                    <img src="@card.Image" alt="" />
                  </div>
                </div>
                <div class="cardHP pull-right">
                  <p>@deckCard.HP</p>
                </div>
                <div class="cardAttack">
                  <p>@card.Attack</p>
                </div>
              </div>
              </label>
            }
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h2 class="player-title">Player <span class="player-number">2<span></h2>
        <div class="row">
            <div class="col-sm-8 inPlay">
              @foreach(var deckCard in Model["p2InPlay"])
              {
                var card = deckCard.GetCard();
                <label>
                @if(Model["turnPhase"] == "combat")
                {
                  <input type="radio" name="p2-combat-card" value="@deckCard.Id" class="combatCard" required>
                }
                <div class="cardDisplay pull-right">
                  <div class="image-border">
                    <div class="cardImage">
                      <img src="@card.Image" alt="" />
                    </div>
                  </div>
                  <div class="cardHP pull-right">
                    <p>@deckCard.HP</p>
                  </div>
                  <div class="cardAttack">
                    <p>@card.Attack</p>
                  </div>
                </div>
                </label>
              }
            </div>
            <div class="col-sm-4 turtles">
              @for(int i=0; i< @Model["player2"].Turtles; i++)
              {
                <img src="/../Content/img/turtle.png" alt="an image of a turtle"/>
              }
              @if (@Model["player2"].Turtles < 5)
              {
                @for(int i=0; i< 5-@Model["player2"].Turtles; i++)
                {
                  <img src="/../Content/img/upside-down-turtle.png" alt="an image of a tipped turtle"/>
                }
              }
            </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12 center">
        <div class="inline-flexer">
          @if(Model["turnPhase"] == "over1")
          {
            <h1>Game over! @Model["player1"].Name wins!</h1>
          }
          @if(Model["turnPhase"] == "over2")
          {
            <h1>Game over! @Model["player2"].Name wins!</h1>
          }
          @if(Model["turnPhase"] == "combat" && Model["p2InPlay"].Count > 0 && Model["p1InPlay"].Count > 0)
          {
            <button type="submit" class="btn btn-danger">Fight!</button>
          }
          @if(Model["turnPhase"] == "combat" && Model["currentInPlay"].Count < 1)
          {
            <a href="/combat" class="btn btn-warning">Skip combat</a>
          }
          @if(Model["turnPhase"] == "combat" && Model["currentInPlay"].Count > 0 && Model["otherInPlay"].Count < 1)
          {
            <a href="/turtle" class="btn btn-warning">Tip Turtles!</a>
          }
          <div class="spacer">

          </div>
          @if(Model["currentPlayerId"] == @Model["player1"].Id)
          {
            <div class="current-player">
            <h3>@Model["player1"].Name Turn</h3>
            </div>
          }
          else
          {
            <div class="current-player">
            <h3>@Model["player2"].Name Turn</h3>
            </div>
          }
        </div>
      </div>
    </form>
    </div>
    <br>
    <div class="row" id="hand">
      @if(Model["turnPhase"] == "play")
      {
        <form action="/playCard" method="post">
        @foreach(var deckCard in Model["currentPlayerHand"])
        {
          var card = deckCard.GetCard();
          <div class="col-sm-2">
            <input id="@deckCard.Id" type="checkbox" name="handCard" class="vis-hidden" value="@deckCard.Id" />
            <label for="@deckCard.Id">
              <div class="cardDisplay">
                <div class="image-border">
                  <div class="cardImage">
                    <img src="@card.Image" alt="" />
                  </div>
                </div>
                <div class="cardFlavor">
                  <br>
                  <p>@card.FlavorText</p>
                </div>
                <div class="cardHP pull-right">
                  <p>@card.Defense</p>
                </div>
                <div class="cardAttack">
                  <p>@card.Attack</p>
                </div>
              </div>
            </label>
          </div>
          }
        }
        <div class="col-sm-2">
        <button type="submit" class="btn btn-success pull-right">Play Card</button>
        <br>

        </div>
        </form>
      }

    </div>
  </div>
</div>




    </div>
